/* body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
  } */

  header img {
    width: 100%;
  }

  section.instruction {
    flex: 0.5;
  }

  section.calculator {
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
    flex: 0.5;
    margin: 0px 24px;
  }
  
  section.advertisement {
    height: 240px;
    width: 120px;
    background: #999;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #root {
    display: flex;
    width: 100%;
  }

  #heading {
    text-align: center;
    padding-bottom: 20px;
    font-size: larger;
  }

  #sub-heading {
    height: 60px;
  }

  #main-content {
    height: 120px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  li label {
    text-transform: capitalize;
  }

  .text-dimension {
    width: 80px;
  }

  .text-dimension-1 {
    width: 60px;
  }

  #result {
    text-align: center;
    padding-top: 30px;
    font-size: large;
  }

  input {
      margin-right: 10px;
  }

  .btn-style {
    border-radius: 10px;
    background-color: #0000ff85;
    cursor: pointer;
  }

#cancel {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    padding-left: 20px;
}